In [ ]:
import pandas as _hex_pandas
import datetime as _hex_datetime
import json as _hex_json

In [ ]:
hex_scheduled = _hex_json.loads("false")

In [ ]:
hex_user_email = _hex_json.loads("\"example-user@example.com\"")

In [ ]:
hex_run_context = _hex_json.loads("\"logic\"")

# Featuretools

In [ ]:
import featuretools as ft

## 1. Quick start

### 1.1 Prepare data

In [ ]:
data = ft.demo.load_mock_customer()
data

{'customers':    customer_id zip_code           join_date date_of_birth
 0            1    60091 2011-04-17 10:48:33    1994-07-18
 1            2    13244 2012-04-15 23:31:04    1986-08-18
 2            3    13244 2011-08-13 15:42:34    2003-11-21
 3            4    60091 2011-04-08 20:08:14    2006-08-15
 4            5    60091 2010-07-17 05:27:50    1984-07-28,
 'sessions':     session_id  customer_id   device       session_start
 0            1            2  desktop 2014-01-01 00:00:00
 1            2            5   mobile 2014-01-01 00:17:20
 2            3            4   mobile 2014-01-01 00:28:10
 3            4            1   mobile 2014-01-01 00:44:25
 4            5            4   mobile 2014-01-01 01:11:30
 5            6            1   tablet 2014-01-01 01:23:25
 6            7            3   tablet 2014-01-01 01:39:40
 7            8            4   tablet 2014-01-01 01:55:55
 8            9            1  desktop 2014-01-01 02:15:25
 9           10            2   tablet 2014-01-01 02:31:40
 10          11            4   mobile 2014-01-01 02:47:55
 11          12            4  desktop 2014-01-01 03:04:10
 12          13            4   mobile 2014-01-01 03:15:00
 13          14            1   tablet 2014-01-01 03:28:00
 14          15            2  desktop 2014-01-01 03:41:00
 15          16            2  desktop 2014-01-01 03:49:40
 16          17            2   tablet 2014-01-01 04:00:30
 17          18            1  desktop 2014-01-01 04:14:35
 18          19            3  desktop 2014-01-01 04:27:35
 19          20            5  desktop 2014-01-01 04:46:00
 20          21            4  desktop 2014-01-01 05:02:15
 21          22            4  desktop 2014-01-01 05:21:45
 22          23            3  desktop 2014-01-01 05:32:35
 23          24            5   tablet 2014-01-01 05:44:30
 24          25            3  desktop 2014-01-01 05:59:40
 25          26            1   tablet 2014-01-01 06:17:00
 26          27            1   mobile 2014-01-01 06:34:20
 27          28            5   mobile 2014-01-01 06:50:35
 28          29            1   mobile 2014-01-01 07:10:05
 29          30            5  desktop 2014-01-01 07:27:25
 30          31            2   mobile 2014-01-01 07:42:35
 31          32            5   mobile 2014-01-01 08:02:05
 32          33            2   mobile 2014-01-01 08:10:45
 33          34            3  desktop 2014-01-01 08:24:50
 34          35            3   mobile 2014-01-01 08:44:20,
 'transactions':      transaction_id  session_id    transaction_time product_id  amount
 0               298           1 2014-01-01 00:00:00          5  127.64
 1                 2           1 2014-01-01 00:01:05          2  109.48
 2               308           1 2014-01-01 00:02:10          3   95.06
 3               116           1 2014-01-01 00:03:15          4   78.92
 4               371           1 2014-01-01 00:04:20          3   31.54
 ..              ...         ...                 ...        ...     ...
 495             112          35 2014-01-01 08:56:15          5   55.42
 496             111          35 2014-01-01 08:57:20          3   34.87
 497             276          35 2014-01-01 08:58:25          1   10.94
 498             266          35 2014-01-01 08:59:30          5   19.86
 499             203          35 2014-01-01 09:00:35          3  148.31

 [500 rows x 5 columns],
 'products':   product_id brand
 0          1     B
 1          2     B
 2          3     B
 3          4     B
 4          5     A}

In [ ]:
customers_df = data["customers"]
customers_df

,customer_id,zip_code,join_date,date_of_birth
0,1,60091,2011-04-17 10:48:33,1994-07-18
1,2,13244,2012-04-15 23:31:04,1986-08-18
2,3,13244,2011-08-13 15:42:34,2003-11-21
3,4,60091,2011-04-08 20:08:14,2006-08-15
4,5,60091,2010-07-17 05:27:50,1984-07-28

In [ ]:
sessions_df = data["sessions"]
sessions_df.sample(5)

,session_id,customer_id,device,session_start
13,14,1,tablet,2014-01-01 03:28:00
6,7,3,tablet,2014-01-01 01:39:40
1,2,5,mobile,2014-01-01 00:17:20
28,29,1,mobile,2014-01-01 07:10:05
24,25,3,desktop,2014-01-01 05:59:40

In [ ]:
transactions_df = data["transactions"]
transactions_df.sample(5)

,transaction_id,session_id,transaction_time,product_id,amount
74,232,5,2014-01-01 01:20:10,1,139.20
231,27,17,2014-01-01 04:10:15,2,90.79
434,36,31,2014-01-01 07:50:10,3,62.35
420,56,30,2014-01-01 07:35:00,3,72.70
54,444,4,2014-01-01 00:58:30,4,43.59

In [ ]:
dataframes = {
   "customers" : (customers_df, "customer_id"),
   "sessions" : (sessions_df, "session_id", "session_start"),
   "transactions" : (transactions_df, "transaction_id", "transaction_time")
}

In [ ]:
relationships = [("sessions", "session_id", "transactions", "session_id"),
                 ("customers", "customer_id", "sessions", "customer_id")]

### 1.2 Run Deep Feature Synthesis

In [ ]:
feature_matrix_customers, features_defs = ft.dfs(dataframes=dataframes,
                                                 relationships=relationships,
                                                 target_dataframe_name="customers")
feature_matrix_customers

,COUNT(sessions),MODE(sessions.device),NUM_UNIQUE(sessions.device),COUNT(transactions),MAX(transactions.amount),MEAN(transactions.amount),MIN(transactions.amount),MODE(transactions.product_id),NUM_UNIQUE(transactions.product_id),SKEW(transactions.amount),...,STD(sessions.SKEW(transactions.amount)),STD(sessions.SUM(transactions.amount)),SUM(sessions.MAX(transactions.amount)),SUM(sessions.MEAN(transactions.amount)),SUM(sessions.MIN(transactions.amount)),SUM(sessions.NUM_UNIQUE(transactions.product_id)),SUM(sessions.SKEW(transactions.amount)),SUM(sessions.STD(transactions.amount)),MODE(transactions.sessions.device),NUM_UNIQUE(transactions.sessions.device)
customer_id,,,,,,,,,,,,,,,,,,,,,
1,8,mobile,3,126,139.43,71.631905,5.81,4,5,0.019698,...,0.589386,279.510713,1057.97,582.193117,78.59,40.0,-0.476122,312.745952,mobile,3
2,7,desktop,3,93,146.81,77.422366,8.73,4,5,0.098259,...,0.509798,251.609234,931.63,548.905851,154.60,35.0,-0.277640,258.700528,desktop,3
3,6,desktop,3,93,149.15,67.060430,5.89,1,5,0.418230,...,0.429374,219.021420,847.63,405.237462,66.21,29.0,2.286086,257.299895,desktop,3
4,8,mobile,3,109,149.95,80.070459,5.73,2,5,-0.036348,...,0.387884,235.992478,1157.99,649.657515,131.51,37.0,0.002764,356.125829,mobile,3
5,6,mobile,3,79,149.02,80.375443,7.55,5,5,-0.025941,...,0.415426,402.775486,839.76,472.231119,86.49,30.0,0.014384,259.873954,mobile,3

### 1.3 Change target DataFrame

In [ ]:
feature_matrix_sessions, features_defs = ft.dfs(dataframes=dataframes,
                                                relationships=relationships,
                                                target_dataframe_name="sessions")
feature_matrix_sessions.head(5)

/home/hexuser/.cache/pypoetry/virtualenvs/python-kernel-OtKFaj5M-py3.9/lib/python3.9/site-packages/featuretools/entityset/entityset.py:660: UserWarning: A Woodwork-initialized DataFrame was provided, so the following parameters were ignored: index
  warnings.warn("A Woodwork-initialized DataFrame was provided, so the following parameters were ignored: " + ", ".join(extra_params))
/home/hexuser/.cache/pypoetry/virtualenvs/python-kernel-OtKFaj5M-py3.9/lib/python3.9/site-packages/featuretools/entityset/entityset.py:660: UserWarning: A Woodwork-initialized DataFrame was provided, so the following parameters were ignored: index, time_index
  warnings.warn("A Woodwork-initialized DataFrame was provided, so the following parameters were ignored: " + ", ".join(extra_params))

,customer_id,device,COUNT(transactions),MAX(transactions.amount),MEAN(transactions.amount),MIN(transactions.amount),MODE(transactions.product_id),NUM_UNIQUE(transactions.product_id),SKEW(transactions.amount),STD(transactions.amount),...,customers.STD(transactions.amount),customers.SUM(transactions.amount),customers.DAY(date_of_birth),customers.DAY(join_date),customers.MONTH(date_of_birth),customers.MONTH(join_date),customers.WEEKDAY(date_of_birth),customers.WEEKDAY(join_date),customers.YEAR(date_of_birth),customers.YEAR(join_date)
session_id,,,,,,,,,,,,,,,,,,,,,
1,2,desktop,16,141.66,76.813125,20.91,3,5,0.295458,41.600976,...,37.705178,7200.28,18,15,8,4,0,6,1986,2012
2,5,mobile,10,135.25,74.696000,9.32,5,5,-0.160550,45.893591,...,44.095630,6349.66,28,17,7,7,5,5,1984,2010
3,4,mobile,15,147.73,88.600000,8.70,1,5,-0.324012,46.240016,...,45.068765,8727.68,15,8,8,4,1,4,2006,2011
4,1,mobile,25,129.00,64.557200,6.29,5,5,0.234349,40.187205,...,40.442059,9025.62,18,17,7,4,0,6,1994,2011
5,4,mobile,11,139.20,70.638182,7.43,5,5,0.336381,48.918663,...,45.068765,8727.68,15,8,8,4,1,4,2006,2011

### 1.4 Understanding feature output

In [ ]:
features_defs

[<Feature: customer_id>,
 <Feature: device>,
 <Feature: COUNT(transactions)>,
 <Feature: MAX(transactions.amount)>,
 <Feature: MEAN(transactions.amount)>,
 <Feature: MIN(transactions.amount)>,
 <Feature: MODE(transactions.product_id)>,
 <Feature: NUM_UNIQUE(transactions.product_id)>,
 <Feature: SKEW(transactions.amount)>,
 <Feature: STD(transactions.amount)>,
 <Feature: SUM(transactions.amount)>,
 <Feature: DAY(session_start)>,
 <Feature: MONTH(session_start)>,
 <Feature: WEEKDAY(session_start)>,
 <Feature: YEAR(session_start)>,
 <Feature: MODE(transactions.DAY(transaction_time))>,
 <Feature: MODE(transactions.MONTH(transaction_time))>,
 <Feature: MODE(transactions.WEEKDAY(transaction_time))>,
 <Feature: MODE(transactions.YEAR(transaction_time))>,
 <Feature: NUM_UNIQUE(transactions.DAY(transaction_time))>,
 <Feature: NUM_UNIQUE(transactions.MONTH(transaction_time))>,
 <Feature: NUM_UNIQUE(transactions.WEEKDAY(transaction_time))>,
 <Feature: NUM_UNIQUE(transactions.YEAR(transaction_time))>,
 <Feature: customers.COUNT(sessions)>,
 <Feature: customers.MODE(sessions.device)>,
 <Feature: customers.NUM_UNIQUE(sessions.device)>,
 <Feature: customers.COUNT(transactions)>,
 <Feature: customers.MAX(transactions.amount)>,
 <Feature: customers.MEAN(transactions.amount)>,
 <Feature: customers.MIN(transactions.amount)>,
 <Feature: customers.MODE(transactions.product_id)>,
 <Feature: customers.NUM_UNIQUE(transactions.product_id)>,
 <Feature: customers.SKEW(transactions.amount)>,
 <Feature: customers.STD(transactions.amount)>,
 <Feature: customers.SUM(transactions.amount)>,
 <Feature: customers.DAY(date_of_birth)>,
 <Feature: customers.DAY(join_date)>,
 <Feature: customers.MONTH(date_of_birth)>,
 <Feature: customers.MONTH(join_date)>,
 <Feature: customers.WEEKDAY(date_of_birth)>,
 <Feature: customers.WEEKDAY(join_date)>,
 <Feature: customers.YEAR(date_of_birth)>,
 <Feature: customers.YEAR(join_date)>]

In [ ]:
feature = features_defs[18]
feature

In [ ]:
try: 
    ft.graph_feature(feature)
except:     
    print('pip install graphviz')

pip install graphviz

In [ ]:
ft.describe_feature(feature)

'The most frequently occurring value of the year of the "transaction_time" of all instances of "transactions" for each "session_id" in "sessions".'